body{
    font-family: Arial,sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}
.form{
    background-color: rgb(198, 213, 198);
    border-radius: 7px;
    box-shadow: 10px black;
    padding: 2px;
    width: 300px;
    text-align: center;
    margin-top: 30px;
}
button:hover{
    background-color: rgb(57, 12, 238);
}
.gender-container{
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    width: 50px;
}
input{
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid royalblue;
    border-radius: 4px;
}
